body {
	box-sizing: border-box;
	margin:0px;
	font-family: Avenir;
	font-size: 14px;
}

a {
	text-decoration: none;
	color: rgba(0,0,16,1);
}

.header {
  height: 40px;
  background-color: rgba(0,0,16,1);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  font-family: Avenir;
  font-size: 14px; 
  text-align: center;
}
.header div {
  display: inline-block;
  flex: 1;
}
.header div:hover {
  cursor: pointer;
  border-bottom:.5px solid rgba(0,113,188,1);
}

.top_nav { 
	margin-top: 10px;
}

.top_nav a {
	text-decoration: none;
	color: rgba(255,255,255,1);
	font-size: 17px;
}

.top_nav1 a {
	text-decoration: none;
	color: rgba(255,255,255,.8);
}

.top_nav2 a {
	text-decoration: none;
	color: rgba(255,255,255,.8);
}

.top_nav1, .top_nav2 {
	margin-left: 5%;
	margin-top: 10px;
}

.images1 {
	margin-top: 40px;
	width: 100%;
}

.images {
	width: 100%;
}

.click {
	text-align: center;
}

.here {
	text-decoration: underline;
}

#footer {
	clear: both;
	background-color: rgba(0,0,16,1);
	height: 15%;
	margin-top: 0;
	text-align: center;
}

.touch {
	color: rgba(0,113,188,1);
	font-size: 18px;
	font-family: avenir;
	font-weight: bold;
}

.fotbod {
	color: white;
	font-size: 16px;
	font-family: avenir;
}

.highliz {
    font-family: avenir;
    font-weight: bold;
    font-size: 16px;
}